body {
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F0F3F5;
  color: #242627;
}

a {
  color: #C1152E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 25px;
  font-size: 2em;
}

li {
  margin-bottom: 10px;
}

#content {
  margin: 10px auto;
}

#footer {
  display: none;
}

.remaining_time {
  font-size: 0.9em;
  color: #9DA5A8;
}

@media screen and (min-width: 28.75em) {
  body {
    font-size: 18px;
  }

  #content {
    width: 630px;
  }

  #footer {
    display: block;
    margin-top: 25px;
  }
}
