body {
  padding: 50px;
  font: 0.78em "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F0F3F5;
  color: #242627;
}

a {
  color: #C1152E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 25px;
  font-size: 2em;
}

#content {
  width: 630px;
  margin: 10px auto;
}

#footer {
  margin-top: 25px;
}

.remaining_time {
  color: #9DA5A8;
}
